body {

}
nav {
  border-bottom: 2px solid #000000;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav h1 {
  color: #000000;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
}
ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  text-decoration: none;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.student {
  display: flex;
  height: 400px;
  width: 300px;
  border: 1px solid #000000;
  flex-direction: column;
  margin-top: 20px;
}
.top {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000000;
  justify-content: center;
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
.bottom {
  display: flex;
  width: 100%;
  height: 50%;
  border: 1px solid #000000;
  justify-content: space-evenly;
}
.circle {
  display: flex;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.label {

}
.info {

}
.bold {
  font-weight: bold;
}
.no-bold {
  font-weight: normal;
}
